---
layout: default
---

    <div class="hero-wrapper">

        <div class="hero">
            <div class="gw">
                <div class="g one-quarter palm-one-whole">
                    <span class="helper"></span>
                    <div class="avatar"></div>
                </div>

                <div class="g three-quarters palm-one-whole">
                    <div class="title">
                      <h1>Seth Hall</h1>
                      <h2>Front-End&nbsp;Designer &&nbsp;Developer</h2>
                    </div>
                    <div class="connect">
                        {% include connect.html %}
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end .hero-wrapper -->

    <div class="wrapper">

        <div class="heading">
            <div class="gw">
                <div class="g one-whole">
                    <h3>Introduction</h3>
                </div>
            </div>
        </div> <!-- end .heading -->

        <div class="intro">
            <div class="gw">
                <div class="g one-whole">
                    <p>I am a Front-End Designer/Developer living in the great state of <a href="http://en.wikipedia.org/wiki/Greensboro,_North_Carolina" target="_blank" >North Carolina</a>. I work from home in an office that I built, with the help of family and friends, over an 8 month period. This was my first construction project and it turned out great. It is the perfect environment to learn, create, build and ship.</p>

                    <blockquote>Every morning when I walk into my office, I am reminded of how blessed I am to do what I love and love what I do.</blockquote>

                    <p>I am most passionate and interested in Front-End Design and Development, but each day I gain more and more knowledge of back-end and programming technologies. When needed, I can talk the talk <em>and</em> walk the walk. I can also <a href="http://cl.ly/OAHN" target="_blank" >talk and walk</a> at the same time, which is good.</p>

                    <p>Thanks to my tenacity, the web community and Google, I have taught myself design and development. If we work together and I don't know something, I will say so and then I will learn whatever is needed for that specific project.

                    <blockquote>Being self employed has given me the freedom to experiment with different tools and one of my strengths is integrating new technologies, frameworks and libraries into my development stack.</blockquote>

                    <p class="info-box">I was recently the lead designer and developer on the winning <em>Startup Weekend Triad</em> team, <a href="http://theeverafterlady.com" target="_blank" >TEAL</a>.</p>

                    <p>My availability is flexible, although I usually work from 9 am to 5 pm. I am <a href="https://www.facebook.com/photo.php?fbid=10151395388476318&set=t.100002237571944&type=3&theater" target="_blank">married</a> and have a <a href="http://instagram.com/p/X57ztKHQB2/" target="_blank">21 month old daughter</a>, so it is important to balance my time between work and family.</p>

                    <p>My hourly rate is $100. This will increase accordingly as I become more proficient in various technologies and languages.</p>

                    <p>I am ready to work on great products with an even greater team. <em>(This could be you!)</em></p>
                </div>
            </div>
        </div> <!-- end .intro -->

        <div class="heading">
            <div class="gw">
                <div class="g one-whole">
                    <h3>Experience</h3>
                </div>
            </div>
        </div> <!-- end .heading -->

        <div class="skills">
            <div class="gw">
                <div class="g one-third palm-one-whole">
                    <h4>Current Stack:</h4>
                    <ul>
                        <li>✪ HTML5 &amp; CSS3</li>
                        <li>✪ jQuery</li>
                        <li>✪ SASS/Compass</li>
                        <li>✪ Bootstrap, Foundation, Skeleton, HTML5 Boilerplate etc...</li>
                        <li>✪ Static Site Generators (e.g. Jekyll)</li>
                        <li>✪ RWD</li>
                        <li>✪ Cross Browser Testing</li>
                        <li>✪ Git Version Control</li>
                        <li>✪ Command Line Interface</li>
                        <li>✪ PHP/Wordpress</li>
                    </ul>
                </div>

                <div class="g two-thirds palm-one-whole">
                    <div class="gw">
                        <div class="g one-half palm-one-whole">
                            <h4>Working On:</h4>
                            <ul>
                                <li>✪ Object-Oriented Programming</li>
                                <li>✪ Javascript Development</li>
                                <li>✪ Meteor.js</li>
                                <li>✪ Handlebars</li>
                            </ul>
                        </div>

                        <div class="g one-half palm-one-whole">
                            <h4>Future Stack:</h4>
                            <ul>
                                <li>✪ Backbone.js and/or Spine</li>
                                <li>✪ AngularJS</li>
                                <li>✪ node.js</li>
                                <li>✪ MiddleMan</li>
                            </ul>
                        </div>

                        <div class="gw">
                            <div class="g one-whole palm-one-whole">
                                <h4>Other Skills:</h4>
                                <ul>
                                    <li>✪ Adobe Creative Suite</li>
                                    <li>✪ <a href="http://vimeo.com/middle8media" target="_blank" >Filmmaking</a></li>
                                    <li>✪ Musician</li>
                                    <li>✪ Client Management</li>
                                    <li>✪ Team Collaboration</li>
                                </ul>
                            </div>

                                <div class="g one-half palm-one-whole">
                                    <h4>Links:</h4>
                                    <ul>
                                        <li>✪ <a href="http://middle8media.com" target="_blank" >Website/Portfolio</a></li>
                                        <li>✪ <a href="http://ringfalcon.com" target="_blank" >The Ring Falcon</a></li>
                                        <li>✪ <a href="http://zerply.com/middle8media/public" target="_blank" >Zerply</a></li>
                                    </ul>
                                </div>

                                <div class="g one-half palm-one-whole">
                                    <h4>Interests:</h4>
                                    <ul>
                                        <li>✪ Family and Friends</li>
                                        <li>✪ Coffee</li>
                                        <li>✪ Community</li>
                                        <li>✪ Film</li>
                                        <li>✪ Books</li>
                                    </ul>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end .skills -->

    {% include footer.html %}
    </div> <!-- end wrapper -->
