<div class="gw">
    <div class="g one-whole">
        <ul>
            <li><a href="http://github.com/middle8media"><img src="img/github.png"alt="github" title="Github"/></a></li>
            <li><a href="http://www.facebook.com/middle8media"><img src="img/facebook.png" alt="facebook" title="Facebook"/></a></li>
            <li><a href="http://www.twitter.com/middle8media"><img src="img/twitter.png"alt="twitter" title="Twitter"/></a></li>
            <li><a href="mailto:seth@middle8media.com?"><img src="img/email.png" alt="email" title="Email"/></a></li>
        </ul>
    </div>
</div>
