    <div class="footer">
            <div class="gw">
                <div class="g one-whole">
                    <footer>
                        <p><small>** Thank you for your time. I am happy to answer any questions and/or provide references via <a href="mailto:seth@middle8media.com?">email</a>.</small></p>
                        <p>© <span class="year"></span> - <a href="http://middle8media.com">M8M</a> All rights reserved.</p>
                    </footer>
                </div>
            </div>
        </div>
